<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Otter Dashboard</title>
</head>
<body class="container">
  <h1>Otters</h1>
  <% for (otter of otters) { %>
    <div class="info">
      <p>Name: <%= otter.name %></p>
      <p>Age: <%= otter.age %></p>
      <a href="/otters/<%= otter._id %>"><button>View Otter</button></a>
      <a href="/otters/edit/<%= otter._id %>"><button>Edit Otter</button></a>
    </div>
  <% } %>
  <br>
  <a href="/otters/new"><button>Add Otter</button></a>
</body>
</html>