<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Restful Tasks API</h1>

  <h3>All the Tasks:</h3>
  <p *ngFor="let tasks of tasks">{{ task.title }} - {{ task.description }}
  <br>
    <button (click)="showClick(task._id)">Show</button>
    <button (click)="editClick(task._id)">Edit</button>
    <button (click)="deleteClick(task._id)">Delete</button>
  </p>
  <app-task *ngIf="task" [taskToShow]="task"></app-task>
</div>

<router-outlet></router-outlet>
