<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Quotes</title>
</head>
<body class="container">
    <h1>Here are the awesome quotes!</h1>
    <% for (quote of quotes) { %>
      <p style="color: gray">"<%= quote.quote %>"</p>
      <p style="text-indent: 99px; color: blue;">-<%= quote.name %> at <%= quote.createdAt %></p>
    <% } %>
    <a href="/"><button>ADD QUOTE</button></a>
    <a href="/clear"><button>CLEAR QUOTES</button></a>
</body>
</html>